.card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
}
.card h2{
    font-size: 1.5em;
    color: blue;
}
.card p{
    font-size: 1rem;
    color: gray;
}