@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Numans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  --dot-bg: #18181b;
  --dot-color: #848282;
  --dot-size: 1px;
  --dot-space: 40px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #009e67;
  cursor: grabbing;
}
::selection {
  background-color: rgba(0, 158, 103, 0.5);
  color: #ffffff;
}
:root{
  --font-display: 'Roboto', "sans-serif";
  --custom-color: #009E67F2
}

.custom-datepicker.ant-picker {
  @apply mt-0.5 w-full bg-transparent rounded-md border border-gray-300 py-2 px-3 outline-none shadow-sm sm:text-sm;
}


.custom-datepicker.ant-picker-focused {
  border-color: var(--custom-color);
  box-shadow: 0 0 0 1px var(--custom-color);
}

/* Placeholder rəngi üçün input-u hədəflə */
.custom-datepicker .ant-picker-input > input::placeholder {
  @apply text-gray-400;
}

